<h2> Edit Client Info </h2>

<form method="post" action="/clients/<%=@client.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%= @client.name %>"><br/>
  <input type="text" name="number" value="<%= @client.number %>"><br/>
  <input type="text" name="vehicle" value="<%= @client.vehicle%>"><br/>
  <input type="text" name="client_info" value="<%= @client.client_info %>"><br/>
  <input type="submit" value="submit">
</form>