<p> Welcome, <%= current_user.username %>
<h2> Client </h2>


  <div>
    <%= @client.name %><br/>
    <%= @client.number %><br/>
    <%= @client.vehicle %><br/>
    <%= @client.client_info %><br/>
  </div>
